__pycache__
*.pyc
*.pyo
.git
.gitignore
.env
*.db
data/
logs/
node_modules
frontend/frontend-app/node_modules
frontend/frontend-app/dist
.s2i
pytest_cache
.pytest_cache
*.egg-info
dist
build
.vscode
.idea
.DS_Store
Thumbs.db
*.log
